.hop-logo {
  width: 4em;
  margin-left: auto;
  margin-right: auto;

  circle, path, line {
    fill: $brand1;
    stroke: $brand1;
    stroke-miterlimit:10;
  }
}

.login-container {
  @include middle-page(552px);
}
