@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

html,
body,
#root {
  height: 100%;
}

body {
  font-family: $font_family;
  font-weight: $font-weight;
  color: $text_color;
  background-color: $white;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 80px;
}

.error-boundary {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
