@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

html,
body,
#root {
  height: 100%;
}

body {
  font-family: $font_family;
  font-weight: $font-weight;
  color: $text_color;
  background-color: $white;
}
